@charset "UTF-8";

#conteudo {
		width: 100%;
		float: right;		
		}
		
#img_borda {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

#video_border{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

aside p {
	text-align: center;
}

h1{
	text-align: center;
}